.search:has(input:focus) input {
  outline: none;
}

input {
  border: none;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bell {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.bell{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dots {
  padding: 8px 8px; /* Adjust padding as needed */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
}

.bell img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain aspect ratio */
  padding: 8px;
}

.bell > div{
  display: flex;
  border-radius: 90px ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 213, 213);
}

.letters{
  margin: .4rem;
  font-size:.8rem;
  border:none;
  background-color: rgb(202, 196, 196);
  border-radius: 90px;
  padding: 8px 8px; /* Adjust padding as needed */ /* Center vertically */
  text-align: center;
}